<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>game starterkit.</title>
  <meta name="description" content="a starterkit with crafty.js, box2dweb, and served by a sinatra app ready to be hosted on heroku.">
  <meta name="author" content="sethvincent">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <script src="/javascript/modernizr.js"></script>
  
  <!-- load jquery from the google cdn, and if that doesn't work, use the backup local version -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascript/jquery.min.js"><\/script>')</script>
  
  <!-- cool libraries for building js apps -->
  <script src="/javascript/sammy.min.js"></script>
  <script src="/javascript/underscore.min.js"></script>
  
  <!-- the application code -->
  <script src="/javascript/app.js"></script>
</head>
<body>
  <a href="/">home</a> <a href="#/huh">huh</a>  <a href="#/oh">oh</a>
  
  <%= yield %>
  
</body>
</html>