<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>game starterkit.</title>
  <meta name="description" content="a starterkit with crafty.js, box2dweb, and served by a sinatra app ready to be hosted on heroku.">
  <meta name="author" content="sethvincent">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  
  <%= yield %>
  
</body>
</html>